/*=== GENERAL ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 1024px;
    height: 728px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #303030;
}
button:hover {
    background: #f39c12;
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}
/*=== RIPPLE BUTTON ===*/
.ripple-button {
    position: relative;
    outline-style: none;
}

.ripple-button:hover > .wave {
    animation: rippleButton 2s;
}
.wave {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    opacity: 0.5;
    border-radius: inherit;
    transform: scaleX(0);
}
@keyframes rippleButton {
    0% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(1);
        opacity: 0.3;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

/* INDEX */
#logo-start {
    width: 90%;
    height: 62%;
    background: url(../images/logo/SkyAngel.png) no-repeat;
    background-size: cover;
    margin: auto;
}
#nav {
    /*text-align: center;*/
    margin-top: 50px;
}
#nav button {
    display: block;
    width: 250px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    margin: auto;
    font-weight: bold;
}
#nav button:first-child {
    margin-bottom: 20px;
}
/*=== DIALOG GUIDE ===*/
.my-dialog {
    display: none;
}
.ui-dialog-titlebar, .dialog-guide {
    text-align: center;
}
.dialog-guide p {
    text-align: left;
}
.dialog-guide .btnNext {
    width: 100px;
    height: 35px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    margin-left: -50px;
}
/*=== GAME PLAY ===*/
#game-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #71D1F7;
    overflow: hidden;
}
#panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    padding: 10px;
}
#panel-left {
    width: 20%;
    height: 100%;
    float: left;
}
#panel-right {
    width: 20%;
    height: 100%;
    float: right;
    text-align: right;
}
#panel-center {
    height: 100%;
    text-align: center;
    margin: 0 20%;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}
.btn-option {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: relative;
}

#timer {
    float: left;
}
#timer::before {
    content: "Timer ";
    color: #007fff;
}
#star-counter {
    float: right;
    position: relative;
    margin-right: 5%;
    padding: 0 5px;
}
#star-counter::after {
    content: '';
    background: url(../images/star-icon.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 108%;
    top: 0;
}
#logo-in-game {
    background: url(../images/logo/logo-ingame.png);
    background-size: cover;
    display: inline-block;
    width: 120px;
    height: 76px;
}
/*=== FUEL COUNTER ===*/
#fuel-counter {
    height: 115px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /*border: solid 1px red;*/
    z-index: 1;
    text-align: center;
}
#fuel-counter #fuel {
    background: url(../images/fuel/fuel.png);
    background-size: cover;
    width: 125px;
    height: 90%;
    display: inline-block;
    position: relative;
}
#fuel-counter #fuel-kim {
    background: url(../images/fuel/fuel-kim.png);
    background-size: cover;
    width: 13px;
    height: 80%;
    display: inline-block;

    transform-origin: center bottom;
    transform: rotate(-50deg);
    margin-top: 20%;
    transition: all 0.1s 0s linear;
}
#fuel-counter #fuel-number {
    font-size: 24px;
    font-weight: bold;
    color: #007fff;
    position: absolute;
    top: 50%;
    left: 40%;
}
/*=== ELEMENT ===*/
[class|="elm"] {
    position: absolute;
}
.elm-cloud {
    width: 100px;
    height: 55px;
    /*background: url(../images/cloud/cloud-1.png);*/
    /*background-size: cover;*/
    /*left: 200px;*/
    /*top: 300px;*/
}
.elm-airplane {
    width: 150px;
    height: 68px;
    background: url(../images/airplane.png);
    background-size: cover;
    left: 400px;
    top: 500px;
    z-index: 1;
}
.elm-star {
    width: 35px;
    height: 34px;
    background: url(../images/star.png);
    background-size: cover;
    left: 200px;
    top: 400px;
    animation: animateStar 1s steps(7) infinite;
}
@keyframes animateStar {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 247px;
    }
}
.elm-parachute {
    width: 28px;
    height: 36px;
    background: url(../images/parachute.png);
    background-size: cover;
    left: 100px;
    top: 100px;
    animation: animateParachute 0.8s infinite;
}
@keyframes animateParachute {
    0% {
        transform: rotate(-8deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(8deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}
.elm-bird {
    width: 52px;
    height: 35px;
    background: url(../images/bird/bird-1.png);
    background-size: cover;
    left: 300px;
    top: 300px;
    animation: animateBird 0.5s steps(4) infinite;
    transform: scaleX(-1);
}
@keyframes animateBird {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 208px;
    }
}
/*=== DIALOG ===*/
#dialog-form, #dialog-ranking {
    text-align: center;
}
#dialog-form #name {
    padding: 5px;
    width: 260px;
}
#dialog-form #btn-continue, #dialog-ranking #btn-start {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

#dialog-ranking #list {
    height: 320px;
    overflow: auto;
}

#dialog-ranking #list table {
    width: 100%;
    border-collapse: collapse;
}

#dialog-ranking #list table tr {
    border-bottom: 1px #d5d5d5 solid;
}

#dialog-ranking #list table tr:hover {
    background: #e8e8e8;
    cursor: pointer;
}

#dialog-ranking #list table td {
    padding: 5px 0;
}